{% extends "base_generic.html" %}
{% block content %}
<div class="bg-body-secondary pt-2 mb-3">
    <div class="container py-5">
      <h1 class="display-3">Сброс пароля</h1>
    </div>
  </div>
<ul class="container">
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>Введите Ваш адрес электронной почты:</p>
        <p>{{ form.email }}</p>
    <div id="butn"><input class="btn btn-primary btn-lg" type="submit" value="Сбросить пароль" /></div><br>
</form><hr/>
</ul>
{% endblock %}